*.DS_Store
App\ Store/
App\ Store/*
bin/build_fts.sql
bin/cerod_build
bin/sqlite3_cerod_shell
build/*
build/
DerivedData/*
DerivedData/
*.xcworkspace
*.xcuserdata/
*.xcuserdata/*
sqlite-cerod/build/
sqlite-cerod/build/*
sqlite-cerod/*.xcworkspace
sqlite-cerod/*.xcuserdata/
sqlite-cerod/*.xcuserdata/*
*_build
*_shell
*.d
*.o
*.hmap
DB/password
DB/DBPassword.c
DB/cerod/*.cerod

PMproto.xcodeproj/xcuserdata
sqlite-cerod/sqlite3_cerod_shell.xcodeproj/xcuserdata
Versions/WWMobile/*
!Versions/WWMobile/WWDrop.buildnumber

# Exclude CocoaPods pods from
[Pp]ods/*

.idea
sqlite-cerod

test-reports
